.rightSideDropdowns {
  display: flex;
  margin-top: 0.85em;
}

.settings {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.jokeLanguage {
  margin: 0 30px;
}

.fetchJokes {
  margin-top: 15px !important;
}

.icon {
  margin-right: 5px;
}
