.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.right span {
  margin-right: 20px;
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.navItem {
  margin: 0 30px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  display: flex;
  align-items: center;
  color: black;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
