.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1976d2;
}

.appBar {
  background-color: #1976d2;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.right {
  span {
    margin-right: 20px;
    font-size: 20px;
    color: seashell;
    font-weight: 700;
    cursor: default;
  }

  img {
    cursor: pointer;
  }
}

.navItem {
  margin: 0 30px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  display: flex;
  align-items: center;
  color: seashell;
  text-decoration: none;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.navIcon {
  margin-right: 5px;
}
