* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #eee;
}

.container {
  background-color: #cfe8fc;
  min-height: 100vh;
  height: auto;
  background: aliceblue;
}

.root-container {
  padding: 0 !important;
  max-width: inherit !important;
}

.MuiToolbar-gutters {
  padding: 0 !important;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif {
  padding: 0 2px;
  cursor: pointer;
}
